target/classes/JavaPractice/ConstructorDemo.class
target/classes/JavaPractice/ControlStatementsDemo.class
target/classes/JavaPractice/DataTypesDemo.class
target/classes/JavaPractice/LoopsDemo.class
target/classes/JavaPractice/MethodsDemo.class
target/classes/JavaPractice/readDBData.class
target/classes/SeleniumPractice/FirstSeleniumTest.class
target/classes/SeleniumPractice/TestInsuranceApp.class
target/classes/practiceExc/AbsoluteValue.class
target/classes/practiceExc/AddAmount.class
target/classes/practiceExc/AgeCalculator.class
target/classes/practiceExc/Attendence.class
target/classes/practiceExc/Attendenceifelse.class
target/classes/practiceExc/BonusCalc.class
target/classes/practiceExc/CostofPurchase.class
target/classes/practiceExc/GradingSystem.class
target/classes/practiceExc/GreatestValue.class
target/classes/practiceExc/Operatorsexercise.class
target/classes/practiceExc/Programming.class
target/classes/practiceExc/Rectangle.class
target/classes/practiceExc/Rectangleifelse.class
target/classes/practiceExc/Student_Task2.class
target/classes/practiceExc/Task_1.class
